figures/code/*
"Icon\r"
*_old*
*DS_Store*
*TSWLatexianTemp*
*.bst
*.cls
*.aux
*.blg
*.dvi
*.bbl
*.log
*.backup
*~
.dropbox
Comments-TON.docx
Comments-TON.pages
"Icon\r"
diff.tex
importantPapers/
journal_Boris.out
journal_Boris.pdf
journal_Boris.ps
journal_Boris.tex
journal_Boris.tex.bak
journal_Boris2.out
journal_Boris2.pdf
journal_Boris2.ps
journal_Boris2.tex
journal_Boris2.tex.bak
journal_pre-newfigures.pdf
~$mments-TON.docx
